<!-- <h3>Employee Salary Report</h3>

<label>
  Department:
  <select [(ngModel)]="department">
    <option value="IT">IT</option>
    <option value="HR">HR</option>
  </select>
</label>

<button (click)="loadReport()">View Report</button>

<hr />

<iframe
  *ngIf="reportUrl"
  [src]="reportUrl"
  width="100%"
  height="500"
  frameborder="0">
</iframe> -->

<h1>SSRS Report</h1>
<div class="ssrs-report-container">
  
  <!-- Loading state -->
  @if (!reportUrl) {
    <div class="loading-overlay">
      <span>Loading SSRS report...</span>
    </div>
  }

  <!-- Report -->
  @if (reportUrl) {
    <iframe [src]="reportUrl" frameborder="0" allowfullscreen> </iframe>
  }
</div>
